{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>

      <ul>
        <!-- Available families -->
        {{ range $family := .Params.AvailableFamilies }}
          <h2> {{ $family }} </h2>

          {{ range $.Pages }}
            {{ if hasPrefix $family .Params.Family }}
            <li>
              <a href="{{.Permalink}}">{{.Params.Family}} | {{.Title}}</a> ({{.Params.Seqs}})
            </li>
            {{ end }}
          {{ end }}
        {{ end }}


      </ul>
    </div>
  </div>
</div>
{{ end }}
