{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>

        <!-- Available families -->
        <h3> Families with genomic resource </h3>
        {{ range $family := .Params.AvailableFamilies }}
          <h4> {{ $family }} </h4>
          <ul>
          {{ range $.Pages }}
            {{ if hasPrefix $family .Params.Family }}
            <li>
              <a href="{{.Permalink}}"><i>{{.Title}}</i></a> 
                (version={{.Params.Version}}; seqs={{.Params.Seqs}}; BUSCO={{.Params.BUSCO_pct}}%)
            </li>
            {{ end }}
          {{ end }}
          </ul>
        {{ end }}

      <h3> Families without genomic resource </h3>
        <ul>
        {{ range $family := .Params.NotAvailableFamilies }}
          <li> {{ $family }} </li>
        {{ end }}
        </ul>
    </div>
  </div>
</div>
{{ end }}
