{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
      
      <b>Repository:</b> <a href="https://pub.amphibase.org/draft/{{ .Params.Order }}/{{ .Params.DirName}}/">
            https://pub.amphibase.org/draft/{{ .Params.Order }}/{{ .Params.DirName }}/ </a>

      <h2> {{ .Params.version }} release: {{ .Params.seqs }} sequences </h2>

        {{ .Content }}

      <h2> External Links </h2>
      <ul>
        <li> <a href="https://amphibiaweb.org/species/{{ .Params.amphibiaweb_id }}" target="_blank">
                AmphibiaWeb (id:{{ .Params.amphibiaweb_id }})</a>
        <li> <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{ .Params.tax_id}}" target="_blank">
                NCBI Taxonomy (id:{{ .Params.tax_id }}) </a>
      </ul>
      
      </article>
    </div>
  </div>
</div>
{{ end }}
